<a href="https://colab.research.google.com/github/20173132hanaram/-/blob/master/Perceptron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
def AND(x1, x2):
  x = np.array([x1, x2])
  w = np.array([0.5, 0.5])
  b = -0.7
  tmp = w[0]*x[0] + w[1]*x[1] + b # tmp = np.sum(w*x) + b
  print('tmp=',tmp)
  if tmp <= 0:
    return 0
  else:
    return 1

In [3]:
(3*0.5 + 1*0.5 - 0.7)

1.3

In [4]:
AND(0.71,0.71)

tmp= 0.010000000000000009

1

In [5]:
AND(0,1)

tmp= -0.19999999999999996

0

In [6]:
def OR(x1, x2):
  x = np.array([x1, x2])
  w = np.array([0.5, 0.5])
  b = -0.2
  tmp = w[0]*x[0] + w[1]*x[1] + b # tmp = np.sum(w*x) + b
  print('tmp=',tmp)
  if tmp <= 0:
    return 0
  else:
    return 1

In [7]:
OR(0,1)

tmp= 0.3

1

In [8]:
def NAND(x1, x2):
  x = np.array([x1, x2])
  w = np.array([-0.5, -0.5])
  b = 0.7
  tmp = w[0]*x[0] + w[1]*x[1] + b # tmp = np.sum(w*x) + b
  print('tmp=',tmp)
  if tmp <= 0:
    return 0
  else:
    return 1

In [9]:
NAND(1,1)

tmp= -0.30000000000000004

0

In [10]:
def XOR(x1, x2):
  s1 = NAND(x1, x2)
  s2 = OR(x1, x2)
  y = AND(s1, s2) 
  return y

In [11]:
XOR(0, 0)

tmp= 0.7
tmp= -0.2
tmp= -0.19999999999999996

0

In [12]:
XOR(1, 1)

tmp= -0.30000000000000004
tmp= 0.8
tmp= -0.19999999999999996

0