<a href="https://colab.research.google.com/github/20173132hanaram/-/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 3
print(type(x)) 
print(x)       
print(x + 1)   
print(x - 1)   
print(x * 2)  
print(x ** 2)  
x += 1
print(x)  
x *= 2
print(x)  
y = 2.5
print(type(y)) 
print(y, y + 1, y * 2, y ** 2)

<class 'int'>
3
4
2
6
9
4
8
<class 'float'>
2.5 3.5 5.0 6.25

In [ ]:
A = range(5)
print(A)

print(A[2])

range(0, 5)
2

In [ ]:
for i in range(5):
    print(i, A[i])

0 0
1 1
2 2
3 3
4 4

In [ ]:
print((1, 2, 3) + (4, 5, 6))
print([1, 2, 3] + [4, 5, 6])
print("Hello" + " " + "World")

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World

In [ ]:
print((1, 2, 3) * 3)
print([1, 2, 3] * 3)
print("Hello "*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
Hello Hello Hello

In [ ]:
months = ('January','February','March','April','May','June',\
'July','August','September','October','November','December')

print(months[0])
print("index of 7 ==> " , months[7])

January
index of 7 ==>  August

In [ ]:
for item in months:
    print (item)

January
February
March
April
May
June
July
August
September
October
November
December

In [ ]:
t = ('john', 32, (2,3,4,5), 'hello')
print(t)
print(t[2])
print(t[2][1])
print(t[:2]) # index 포함 X
print(t[2:]) # index 포함 O

print(t[-1])
print(t[-2])

('john', 32, (2, 3, 4, 5), 'hello')
(2, 3, 4, 5)
3
('john', 32)
((2, 3, 4, 5), 'hello')
hello
(2, 3, 4, 5)

In [ ]:
li = ['hallym', 1, 3.141572, 'hello']
print(li)
li[1] = 45
print(li)
li.append('September')
print(li)

['hallym', 1, 3.141572, 'hello']
['hallym', 45, 3.141572, 'hello']
['hallym', 45, 3.141572, 'hello', 'September']

In [ ]:
v = []
for i in range(0,3):
    v.append(i)
    print(v)

[0]
[0, 1]
[0, 1, 2]